sudo: required
services:
    - docker

before install:
    - docker build -f Dockerfile.dev -t davehatton/docker-react .

script:
    - docker run -e CI=true davehatton/docker-react npm run test -- --coverage

deploy:
    provider: elasticbeanstalk
    region: "us-east-2"
    app: "docker"
    env: "docker-react"
    bucket_name: "elasticbeanstalk-us-east-2-411988274100"
    bucket_path: "docker-react"
    on: 
      branch: master
access_key_id: $AWS_ACCESS_KEY
secret_access_key: "$AWS_SECRET_KEY"